---
import { Icon } from "astro-icon/components";
---

<nav>
  <div class="flex justify-between my-6">
    <Icon name="logo" width={116} height={24} />
    <Icon name="burger" width={28} height={28} />
  </div>
</nav>
