---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-white">Proyecto AstroTalent</h1>
		<p class="font-display font-bold text-xl text-white">Flor</p>
	</main>
</Layout>
