---
import "@fontsource/fira-sans";
// Supports weights 300-700
import "@fontsource-variable/space-grotesk";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-blue-800 mx-6 text-white">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
